@import './utils';

.desc {
    @include flexCenter(column, flex-start, center);
    padding-inline: 20px;
    margin-block: 30px;
    

    @include breakpoint(sm, min){
        width: 90%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.2rem;

        @include breakpoint(sm, min){
            font-size: 1.5rem;
        }

        @include breakpoint(xlg, min){
            font-size: 1.7rem;
        }
  

    }

    &__container-main {
        @include flexCenter(column, center, center);

        @include breakpoint(sm, min){
            margin-inline: 20px;
        }

        @include breakpoint(md, min){
            @include flexCenter(row, flex-start, center);
            gap: 18px;
        }
    
    }

    &__container {
        @include flexCenter(column, center, center);
        text-align: justify;

        &-title {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1.2rem;

            @include breakpoint(xlg, min){
                font-size: 1.4rem;
            }
        }

        p {
            font-size: 1.1rem;
            letter-spacing: 1.5px;

            @include breakpoint(sm, min){
                text-align: center;
            }

            @include breakpoint(lg, min){
                // text-align: left;
                line-height: 1.5;
            }
        }
        &-wrapper {
            @include flexCenter(column, center, center);
            & img {
                width: 3rem;
                height: 3rem;
                filter: invert(81%) sepia(17%) saturate(1057%) hue-rotate(326deg) brightness(93%) contrast(90%);

                @include breakpoint(xlg, min){
                    width: 5rem;
                    height: 5rem;
                }
                
            }
            & h3 {
                margin: 5px 0;
            }
        }
    }


}