@import './utils';

.searchpanel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: white;
    z-index: 10;
    padding: 15px;

    @include breakpoint(sm, min){
        padding: 25px;
        width: 50%;
    }

    @include breakpoint(md, min){
        width: 40%;
    }


    &__overlay {
        position: fixed;
        z-index: 9;
        background: rgba(0,0,0,.7);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__btn {
        background: none;

        &.submit {
            background-color: #cb9d90;
            padding: 8px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 10px;
        margin-bottom: 30px;

    }
    &__input {
        flex-grow: 1;
        

        @include breakpoint(sm, min){
            padding: 20px
        }
    }

    &__results {
        @include flexCenter(column, flex-start, center);
        gap: 15px;

        a {
            text-decoration: none;
        }
        img {
            width: 5rem;
            height: 5rem;
            @include breakpoint(md, min){
                width: 6rem;
                height: 6rem;
            }
        }
        &-item {
            @include flexCenter(row, center, flex-start);
            gap: 20px;
        }
        &-text{
            text-transform: uppercase;
            @include flexCenter(column, center, center);
            color: black;
            font-size: 1.2rem;

            @include breakpoint(sm, min){
                @include flexCenter(row, center, space-between);
                gap: 20px;
                font-size: 1.3rem;
            }

            @include breakpoint(md, min){
                font-size: 1.5rem;
            }
        }
    }

}