@import './utils';

.about {
    @include flexCenter(column, center, center);
    line-height: 1.5;
    &__intro {
        max-width: 600px;
        @include flexCenter(column, center, center);
        @include breakpoint(sm, min){
                padding-inline: 1.5em;
        }

         h3{
            font-size: 1.3rem;
            padding-inline: 12px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin-bottom: 0;
         }

         p {
            font-size: 1.1rem;
            text-align: justify;
            padding-inline: 15px;

            @include breakpoint(sm, min){
                text-align: center;
                font-size: 1.25rem;
            }
         }

    }

    &__info-container{
        @include flexCenter(column, center, center);

        @include breakpoint(md, min){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            width: 90%
        }

        @include breakpoint(lg, min){
            width: 80%;
        }

        @include breakpoint(xlg, min){
            width: 65%;
        }
    }
    
    
    &__text-wrapper {
        @extend .about__intro;
        margin-block-end: 25px;

        &.loc {
            margin-block-end: 0;
            
        }

        @include breakpoint(md){

        &.panel2 {
                order: 2;
        }

        &.panel3 {
                order: 4;
        }
    }
    }

    &__img-wrapper {
        @include flexCenter(row, center, center);
        border: 7px solid var(--color-grey-light-2);
        overflow: hidden;

        & img {
        
        transition: 300ms linear;  
        
        &:hover {
        transform: scale(1.025);
        }}
        
        &:hover,
        &:focus {
          border-color: var(--color-primary);
        }
        

        @include breakpoint(md){
        width: 90%;
        height: 500px;
        &.panel1 {
            order: 1;
        }

        &.panel4 {
                order: 3;
        }}
    }

    &__img {
        width: 100%;
        object-fit: cover;

        &.img--loading {
            @extend %image-loading
            }
    }

    &__values {
       padding-inline: 15px;  

       &-container {
         p {
            font-size: 1.1rem;
            text-align: justify;
         }

         h3 {
            letter-spacing: 2px;
            text-align: center;
         }
       }
    }

    &__locations {
        @include flexCenter(column, center, center);
        // padding-inline: 15px;
        margin-block-end: 30px;

        @include breakpoint(md, min){
            @include flexCenter(column, center, center);
        }

        &-main {
            @include flexCenter(column, center, center);

            @include breakpoint(md, min){
                @include flexCenter(row, center, center);
            }

            ul {
                padding-inline-start: 30px;
                margin-top: 0;
                list-style-type: none;

                h3 {
                    font-size: 1.3em;
                    @include breakpoint(sm, min){
                        font-size: 1.35rem;
                    }
                }

                li {
                    font-size: 1.1rem;
                    max-width: 260px;

                    @include breakpoint(sm, min){
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}