@import './utils';

.faqs {
    &__banner {
        position: relative;
    }

    &__info-main {
        width: 90%;
        margin: 0 auto;
        padding-block: 50px;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 1.7rem;
        margin: 0;


        @include breakpoint(sm, min){
            font-size: 1.95rem;
        }

        @include breakpoint(md, min){
            font-size: 2rem;
        }

        @include breakpoint(lg, min){
            font-size: 2.3rem;
        }
        @include breakpoint(xlg, min){
            font-size: 2.5rem;
        }
    }
    &__button {
        width: 20px;
        height: 20px;
    }
    button {
        @include flexCenter(row, center, space-between);

        &:hover,
        &:active {
        scale: 1;
    }
    }
    &__info-container {

        padding-block-end: 30px;

         h2 {
            text-align: left;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin: 0;
            font-size: 1.6rem;
         }
        
        @include breakpoint(sm, min){
            font-size: 1.8rem;
        }

        @include breakpoint(md, min){
            font-size: 1.9rem;
        }

        @include breakpoint(lg, min){
            font-size: 2.2rem;
        }

        @include breakpoint(xlg, min){
            font-size: 2.3rem;
        }

    }
    &__panel {
        font-size: 1.05rem;
        line-height: 1.5;
        letter-spacing: 1.3px;

    }
    &__accordion {
        background: transparent;
        cursor: pointer;
        padding: 18px 0;
        width: 100%;
        border: none;
        text-align: left;
        transition: 0.4s;
        color: #cf9379;
        border-bottom: 1px solid #d5bfaf;
        font-size: 1.05rem;

        p {
            margin: 0;
        }
    }

    &__img-wrapper {
        @include flexCenter(row, center, center);
        border: 7px solid var(--color-grey-light-2);
        width: 100%;
        
        & img {
        width: 100%;
        transition: 300ms linear;
        height: 400px;
        object-fit: cover;  

        @include breakpoint(sm, min){
            width: 100%;
            height: 650px;
        }

        &.img--loading {
            @extend %image-loading
            }
        
        &:hover {
        transform: scale(1.025);
        }}
        
    
        &:hover,
        &:focus {
          border-color: var(--color-primary);
        }
    }
}