@import "./utils";

.fc {
    display: grid;
    grid-template-columns: 40% auto;
    margin: 50px 0;
    column-gap: 35px;
    width: 80%;

    position: relative;
    left: 50%;
    transform: translate(-50%);

    &__container{
        @include flexCenter(column, center, center);
    }

    &__text-wrapper {
        @include flexCenter(column, center, flex-start);
        text-align: justify;
        // position: absolute;
    }
    & p {
        font-size: 23px;
    }

    &__img {
        width: 100%;

        &.img--loading {
            @extend %image-loading
            }
    }

    &__title {
        margin-block: 40px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;

        &-collection {
            font-size: 32px;
            margin: 0;
        }
    }
    &__img-wrapper {
        @include flexCenter(row, center, center);
        border: 7px solid var(--color-grey-light-2);
        width: 100%;
        

        & img {
        
        transition: 300ms linear;  
        
        &:hover {
        transform: scale(1.025);
        }}
        
    
        &:hover,
        &:focus {
          border-color: var(--color-primary);
        }
    }

    & button {
        margin-top: 30px;
        padding: 13px 18px;
    }

}