@import './utils';

.footer {
    @include flexCenter(column, center, center);
    width: 100%;
    overflow-x: hidden;

    &__emailForm {
    @include flexCenter(column, center, center);
    width: 100%;
    background-image: url('../assets/Unsplash\ Images/email-form-img.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(35px);
    padding: 20px 0;

        & h3 {
            font-size: 1.3rem;
            margin-top: 0;
        }
        &-wrapper {
            @include flexCenter(column, center, center);
            gap: 20px;
            font-size: 1.1rem;
            text-align: center;

            & input {
                font-size: 1.1rem;
                border-radius: 8px;
                height: 38px;
                text-align: left;
            }
        }
        & img {   
            overflow: hidden;
            width: 100%;
        }
    }

    &__info {
        @include flexCenter(column-reverse, center, center);
        
        padding: 20px 0;
        width: 100%;
        
        
        &-left {
            text-align: center;
            width: 100%;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            & ul {
                list-style-type: none;
                @include flexCenter(row, center, center);
                padding: 0;
            }
        }
        &-right {
            @include flexCenter(column, center, center);
            width: 100%;
            gap: 15px;
            margin-bottom: 20px;

            &img {
                width: 50px;
                height: 50px;
            }

            &-wrapper {
                @include flexCenter(row, flex-start, center);
                gap: 20px
            }
            & h3 {
                margin: 8px 0;
            }
        }

        &-contact {
            @include flexCenter(column, center, space-between);
            text-align: center;
            height: 100%;
            &-icon {
                width: 30px;
                height: 30px;
            }
        }
    }
}