@import "./utils";

.headerSticky {
    @include flexCenter(row, center, space-between);
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 5px 8px;
        background-color: #cb9d90;

    & span {
        font-size: 30px
    }
    &__list {
        @include flexCenter(column, center, center);
        position:absolute;
        width: 100%;
        margin: 0;
        list-style-type: none;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #cb9d90;
        font-size: 1.0rem;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-left: 0;

        & li {
            padding-block: 20px;
            padding-left: 12px;
            margin-inline: 14px;
            border-bottom: 1px solid black;
            width: 90%;
        }

    }

    &__icons {
        @include flexCenter(row, center, center);
        gap: 3px;

        @include breakpoint(sm, min){
            gap: 5px;
        }
    }

    &__icon {
        width: 1.4rem;
        height: 1.4rem;
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(56deg) brightness(96%) contrast(103%);
        cursor: pointer;

        @include breakpoint(sm, min){
            width: 1.7rem;
            height: 1.7rem;
        }

        &.logo {
            width: 3rem;
            height: 3rem;

            @include breakpoint(sm, min){
                width: 3.3rem;
                height: 3.3rem;
            }
        }
    }

}