@import "./utils";

.logIn {
    z-index: 11;
    position: fixed;
    z-index: 9;
    background: rgba(0,0,0,.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__input-wrapper{
        @include flexCenter(column, flex-start, center);
        gap: 15px;
    }

    &__form {
        background-color: white;
        padding-inline: 20px;
        padding-block-end: 40px;
        padding: 20px 20px 40px 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @include flexCenter(column, flex-start, center);

        @include breakpoint(sm, min){
            padding: 20px 25px 50px 30px;
        }

        h2 {
            margin: 0;
        }

        a{
            cursor: pointer;
            color: rgb(29, 155, 240);
        }


    }
    &__close {
        align-self: flex-end;
        margin-bottom: 15px;
        font-size: 20px;
        background: none;

        @include breakpoint(sm, min){
            font-size: 25px;
        }
    }
    &__input {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 15px;
        max-width: 400px;
        
        input {
            padding: 10px;
            border-radius: 8px;

            @include breakpoint(sm, min){
                width: 250px;
            }

            @include breakpoint(md, min){
                width: 270px;
            }
        }

        button {
            font-size: 16px;
            background-color: #cb9d90;
            text-transform: uppercase;
            padding: 8px;
        }
    }
}
