@import './utils';

.searchpanel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: white;
    z-index: 10;
    padding: 15px;

    @include breakpoint(sm, min){
        padding: 25px;
        width: 50%;
    }

    @include breakpoint(md, min){
        width: 40%;
    }


    &__overlay {
        position: fixed;
        z-index: 9;
        background: rgba(0,0,0,.7);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__btn {
        background: none;

        &.submit {
            background-color: #cb9d90;
            padding-inline: 10px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 10px;

    }
    &__input {
        flex-grow: 1;

        @include breakpoint(sm, min){
            padding: 20px
        }
    }

}