@import './utils';

.shop {
    @include flexCenter(column, center, center);
    width: 100%;
    overflow: hidden;

    &__banner {
        @include flexCenter(column-reverse, center,center);
        margin-bottom: 40px;

        &-description {
            text-align: center;
            padding: 20px;

            &-title {
                text-transform: uppercase;
                letter-spacing: 2px;
            }


        }
        
            
        &-img {
            height: 400px;
            width: 100%;
            &.img--loading {
                @extend %image-loading;
            }
        }
    }
    &__main {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        
        @include breakpoint(xxxl, min) {
            width: 85%;
        }
    }
    &__categories {
        grid-column: 1/2;
        text-align: center;
        list-style-type: none;
        cursor: pointer;

            &-selection {
                margin-bottom: 5px;
            }
    }

    &__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        column-gap: 10px;
        margin-inline: 60px;

            &-img-wrapper {
                height: 300px;
            }

            &-item {
                padding: 8px;
                margin-inline: 10px;
                margin-block: 30px;
                cursor: pointer;


                &-desc {
                    text-align: center;
                }

                &-img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border: 5px solid #cb9d90;

                    transition: 300ms linear;  
        
                        &:hover {
                        transform: scale(1.025);
                        }
                    
                        &.img--loading {
                            @extend %image-loading
                        }
                    }
            }
    }
    
}